*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --theme-color1: #00523F;
    --theme-color2: #FFC42A;
    --theme-color3: #f8f8f8;
    --theme-color4: #d6d6d6;
}
main{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-areas: 'sidebar' 'form-section';
    background-color: #E6e6e6;
    gap: 0.5rem;
    overflow: hidden;
    max-height: 100vh;
}
.laptop-only{
    display: none;
}
.sidebar{
    grid-area: sidebar;
    background-color: var(--theme-color1);
    padding: 0.8rem;
}
.sidebar-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--theme-color3);
    font-family: Roboto, sans-serif;
}
.SNTNS-logo{
    width: 15%;
    height: auto;
    margin-left: 0.5rem;
    border-radius: 50%;
    border: 2px solid black;
}
.sidebar-header-text{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
.sidebar-header-text h1{
    font-size: 0.8em;
}
.sidebar-header-text h3{
    font-size: 0.5em;
}
.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.9rem;
    grid-area: section-header;  
}
#section-header-text{
    color: var(--theme-color3);
    font-size: 0.9em;
    display: inline-block;
    transform: translateY(-0.5rem);
}
.header-icons{
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--theme-color1);
    border-radius: 15%;
    padding: 0.2rem;
    z-index: 1;
}
.menu-container button{
    position: relative;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    z-index: 2;
}
.section-overview{
    display: none;
}
.mobile-only{
    display: none;
    position: absolute;
    top: 5rem;
    right: 0.7rem;
    width: 9rem;
    height: 11.5rem;
    background-color: var(--theme-color1);
    z-index: 0;
    padding: 0.5rem;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    border-radius: 0.5rem;
}
.list-style{
    width: 1.2rem;
    height: auto;
    transform: translate(0, 0.2rem);
    margin-right: 0.4rem;
}
.mobile-only.menu-show{
    display: block;
    z-index: 1;
}
.mobile-only a, li{
    text-decoration: none;
    list-style: none;
    margin-top: 0.3rem;
    color: var(--theme-color2);
}
.mobile-only ul{
    margin-top: 1.5rem;
}


.table-section{
    background-color: var(--theme-color4);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.upper-table-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-input{
    background-color: var(--theme-color3);
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 0.3rem;
}
.search-input input{
    background-color: var(--theme-color3);
    appearance: none;
    border: none;
    width: 90%;
}
.search-input input:focus{
    outline: none;
    border: none;
}
.upper-table-tab button{
    padding: 0.2rem;
    background-color: var(--theme-color2);
    color: var(--theme-color1);
    border: none;
    appearance: none;
    border-radius: 0.2rem;
    font-weight: bold;
}
.icons{
    position: relative;
    top: 0.1rem;
    width: 0.8rem;
    height: auto;
}
.table-header{
    background-color: var(--theme-color3);
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.3rem;
}
.table-h2{
    font-size: 0.9em;
    color: var(--theme-color1);
}
.sche-btn{
    padding: 0.4rem;
    font-family: Roboto, sans-serif;
    font-size: 0.7em;
    background-color: var(--theme-color1);
    color: var(--theme-color2);
    border: none;
    appearance: none;
    border-radius: 0.3rem;
}
.sche-btn:active{
    background-color: var(--theme-color2);
    color: var(--theme-color1);
}

.table-container{
    max-height: 44vh;
    overflow-y: scroll;
}
table{
    font-family: Roboto, sans-serif;
    font-size: 0.8rem;
    width: 100%;
    text-align: start;
    border-radius: 0.5rem;
}
thead{
    position: sticky;
    top: 0;
    background-color: var(--theme-color1);
    color: var(--theme-color3);
}
tbody{
    overflow-y: scroll;
}
th, td{
    background-color: var(--theme-color3);
    border-radius: 0.3rem;
    padding: 0.2rem;
    border-bottom: 1px solid black;
}
th{
    color: var(--theme-color1);
    background-color: var(--theme-color2);
}

/*Footer Section*/
.footer-section{
    background-color: var(--theme-color1);
    color: var(--theme-color3);
    padding: 1.5rem;
    grid-area: footer;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'footer-logo developer-section social-link'
    'footer-logo reserved-rights reserved-rights';
    gap: 1.5rem;
}
.footer-logo{
    grid-area: footer-logo;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.footer-logo img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid black;
}
.developer-section{
    grid-area: developer-section;
    font-size: 0.5em;
    font-family: Roboto, sans-serif;
}
.Social-link{
    grid-area: social-link;
    font-family: Roboto, sans-serif;
    font-size: 0.5em;
}
.Social-link a{
    color: var(--theme-color3);
    text-decoration: none;
}
.Social-link a:hover{
    text-decoration: underline;
    color: var(--theme-color2);
}
.Social-link a:active{
    color: var(--theme-color2);
}
.reserved-rights{
    grid-area: reserved-rights;
    font-family: Roboto, sans-serif;
    font-size: 0.6em;
}