*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --theme-color1: #00523F;
    --theme-color2: #FFC42A;
    --theme-color3: #f8f8f8;
    --theme-color4: #d6d6d6;
}
main{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 0;
    grid-template-areas: 'sidebar' 'form-section';
    background-color: #E6e6e6;
    gap: 0.5rem;
}
.laptop-only{
    display: none;
}
.sidebar{
    grid-area: sidebar;
    background-color: var(--theme-color1);
    padding: 0.8rem;
}
.sidebar-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--theme-color3);
    font-family: Roboto, sans-serif;
}
.SNTNS-logo{
    width: 15%;
    height: auto;
    margin-left: 0.5rem;
    border-radius: 50%;
    border: 2px solid black;
}
.sidebar-header-text{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}
.sidebar-header-text h1{
    font-size: 0.8em;
}
.sidebar-header-text h3{
    font-size: 0.5em;
}
.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.9rem;
    grid-area: section-header;  
}
#section-header-text{
    color: var(--theme-color3);
    font-size: 0.9em;
    display: inline-block;
    transform: translateY(-0.5rem);
}
.header-icons{
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--theme-color1);
    border-radius: 15%;
    padding: 0.2rem;
    z-index: 1;
}
.menu-container button{
    position: relative;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    z-index: 2;
}
.section-overview{
    display: none;
}
.mobile-only{
    display: none;
    position: absolute;
    top: 5rem;
    right: 0.7rem;
    width: 9rem;
    height: 11.5rem;
    background-color: var(--theme-color1);
    z-index: 0;
    padding: 0.5rem;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    border-radius: 0.5rem;
}
.list-style{
    width: 1.2rem;
    height: auto;
    transform: translate(0, 0.2rem);
    margin-right: 0.4rem;
}
.mobile-only.menu-show{
    display: block;
    z-index: 1;
}
.mobile-only a, li{
    text-decoration: none;
    list-style: none;
    margin-top: 0.3rem;
    color: var(--theme-color2);
}
.mobile-only ul{
    margin-top: 1.5rem;
}


.form-section{
    grid-area: form-section;
}

.form-section{
    background-color: var(--theme-color4);
    padding: 1rem;
}
.form-header{
    font-family: Roboto, sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 0.5rem;
}
form{
    background-color: var(--theme-color3);
    gap: 0.8rem;
    border-radius: 0.8rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
}
.personal-information{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--theme-color1);
    color: var(--theme-color2);
    padding: 0.5rem;
    border-radius: 0.6rem;
    height: 50vh;
    font-family: Roboto, sans-serif;
}

.vehicle-information{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--theme-color1);
    color: var(--theme-color2);
    padding: 0.5rem;
    border-radius: 0.6rem;
    height: 60vh;
    font-family: Roboto, sans-serif;
}
.vehicle-information input:not([type=file]){
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
    color: var(--theme-color3);
    background-color: var(--theme-color3);
}
.vehicle-information select{
    color: var(--theme-color1);
    border: none;
    padding: 0.5rem;
    border-radius: 0.6rem;
    background-color: var(--theme-color4);
    font-size: 1rem;
}
input[type="submit"]{
    background-color: var(--theme-color1);
    color: var(--theme-color2);
    font-size: 1em;
    padding: 0.5rem;
    border-radius: 0.8rem;
}
input[type="submit"]:hover{
    background-color: var(--theme-color2);
    color: var(--theme-color1);
}
.inline-input{
    display: flex;
    flex-direction: column;
}

.input-container .icon-input{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.3rem;
    filter:brightness(0);
}
.input-container{
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    background-color: var(--theme-color4);
    border-radius: 0.5rem;
}
.input-container input{
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4rem;
    color: var(--theme-color1);
    background-color: var(--theme-color3);
}





/*Footer Section*/

.footer-section{
    background-color: var(--theme-color1);
    color: var(--theme-color3);
    padding: 1.5rem;
    grid-area: footer;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'footer-logo developer-section social-link'
    'footer-logo reserved-rights reserved-rights';
    gap: 1.5rem;
}
.footer-logo{
    grid-area: footer-logo;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.footer-logo img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid black;
}
.developer-section{
    grid-area: developer-section;
    font-size: 0.5em;
    font-family: Roboto, sans-serif;
}
.Social-link{
    grid-area: social-link;
    font-family: Roboto, sans-serif;
    font-size: 0.5em;
}
.Social-link a{
    color: var(--theme-color3);
    text-decoration: none;
}
.Social-link a:hover{
    text-decoration: underline;
    color: var(--theme-color2);
}
.Social-link a:active{
    color: var(--theme-color2);
}
.reserved-rights{
    grid-area: reserved-rights;
    font-family: Roboto, sans-serif;
    font-size: 0.6em;
}
.section-overview{
    display: none;
}







@media screen and (min-width: 1024px){
    footer{
        display: none;
        margin: 0;
    }
    main{
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5rem;
        grid-template-areas: 'sidebar section-overview section-overview section-overview section-overview' 
        'sidebar form-section form-section form-section form-section';
        min-height: 100vh;
        overflow-y: hidden;
    }
    .section-overview{
        display: block;
        grid-area: section-overview;
        background-color: var(--theme-color3);
        font-family: Roboto, sans-serif;
        padding: 0.5rem;
        font-size: 1.2rem;
        color: var(--theme-color1);
    }
    .section-header{
        display: none;
    }
    .sidebar-header img{
        width: 30%;
        height: auto;
    }
    .sidebar-header-text h1{
        font-size: 1.4rem;
    }
    .sidebar-header-text h3{
        font-size: 0.9rem;
        font-weight: normal;
    }


    .laptop-only{
        display: block;
    }
    .laptop-only ul{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        list-style-type: none;
        font-family: Roboto, sans-serif;
        font-size: 1.2rem;
        color: var(--theme-color3);
        gap: 0.5rem;
        margin: 1rem;
    }
    .laptop-only li{
        padding: 0.5rem;
        border-radius: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .nav-link{
        text-decoration: none;
        color: var(--theme-color3);
    }
    .laptop-only li:hover{
        background-color: var(--theme-color2);
    }
    li:hover .nav-link{
        color: var(--theme-color1);
    }
    li:active{
        box-shadow: inset 0 0 5px var(--theme-color1);
    }
    .laptop-only ul > li:nth-child(3){
        background-color: var(--theme-color2);
    }
    .laptop-only ul > li:nth-child(3) > a{
        color: var(--theme-color1);
    }
    .header-icons{
        width: 2.5rem;
        height: auto;
    }


    .form-section{
        grid-area: form-section;
    }
    .form-container{
        display: flex;
        flex-direction: column;
    }
    form{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'personal-info vehicle-info' 'personal-info vehicle-info' 'submit-btn submit-btn';
    }
    .personal-information{
        grid-area: personal-info;
        height: 100%;
    }
    .vehicle-information{
        grid-area: vehicle-info;
    }
    input[type="submit"]{
        grid-area: submit-btn;
    }
    .inline-input{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'plate-label fee-label' 'plate fee';
        gap: 0.4rem;
    }
    .inline-input label:nth-of-type(1){
        grid-area: plate-label;
    }
    .inline-input label:nth-of-type(2){
        grid-area: fee-label;
    }
    .inline-input input:nth-of-type(1){
        grid-area: plate;
    }
    .inline-input input:nth-of-type(2){
        grid-area: fee;
    }




}